@{
    ViewData["Title"] = "Home Page";
}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Sickly Wiccan</h1>
            <p class="lead fw-normal text-white-50 mb-0">All things Wiccan</p>
        </div>
    </div>
</header>
<!-- Section-->

<section class="my-4">
    <div class="row">
        <div class="col-md-1"><span></span></div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/assets/wiccan.png" alt="Wiccan Symbol">
                <div class="card-body">
                    <h5 class="card-title">Shop Now</h5>
                    <p class="card-text">Take a look at <strong>Sickly Wiccan's</strong> Product list! We have the basics needed for any witch trying to get a quick fix on herbs, candles, and books!</p>
                    <a class="products-link homeShopButton" href="@Url.Action("TestTiledProducts", "Products")">>>>> Shop <<<<</a>
                </div>
            </div>
        </div>
        <div class="col-md-1"><span></span></div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/assets/tarot.jpg" alt="Wiccan Symbol">
                <div class="card-body">
                    <h5 class="card-title">Free Tarot Readings</h5>
                    <p class="card-text">Every Thursday and Friday from 5-8pm enjoy a free reading with a local tarot reader from now until March 2023!</p>
                    <a class="products-link homeShopButton" href="http://jlewisinquiry.com/"> Tarot Reader's Website</a>
                </div>
            </div>
        </div>
        <div class="col-md-1"><span></span></div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/assets/pagan.png" alt="Wiccan Symbol">
                <div class="card-body">
                    <h5 class="card-title">Log In</h5>
                    <p class="card-text">Find out more with us! Stop in shop or sign up and recieve weekly emails to get updates about our shop every week!</p>
                    <a class="products-link homeShopButton" href="#">About Our Shop</a>
                </div>
            </div>
        </div>
        <div class="col-md-1"><span></span></div>
    </div>








    
</section>