@{
    ViewData["Title"] = "Home Page";
}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Sickly Wiccan</h1>
            <p class="lead fw-normal text-white-50 mb-0">All things Wiccan</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="my-4">
   <div>
       <h4>Free Tarot Readings every Thursday and Friday from 5-8pm with a local tarot reader are now available!</h4>
       <p>Find out more with us! Stop in shop or sign up and recieve weekly emails to get updates about our shop every week!</p>
   </div>
    <span id="span-padding"></span>
</section>